<header>
    <div class="hder-ctn">
        <nav>
            <div class="nav-ctn">
                <div class="nav-left">
                    <ul class="update-tbls">
                        <li><a href="http://localhost:3000">Inicio</a></li>
                        <li><a href="http://localhost:3000/add">Agregar productos</a></li>
                        <li><a href="http://localhost:3000/delete">Eliminar productos</a></li>
                        <li><a href="http://localhost:3000/update">Actualizar productos</a></li>
                        <li><a href="http://localhost:3000/escaso">Cantidad</a></li>
                    </ul>
                </div>
                <div class="nav-center">
                    <ul class="search-ctn">
                        <li>
                            <input class="search-input product-search" type="text" name="" id="">
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
</header>