<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/metadata') %>
    <link rel="stylesheet" href="css/style.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('../partials/header') %>
    <form class="put-form">
        <label>
            Nombre:
            <input class="search-input name-input" name="name" type="text" placeholder="Nombre del producto">
        </label>
        <label>
            Precio:
            <input class="search-input" name="price" type="number" placeholder="Precio del producto">
        </label>
        <label>
            Cantidad:
            <input class="search-input" name="quantity" type="number" placeholder="Cantidad del producto">
        </label>
        <input class="admin-update" type="submit" value="Enviar">
    </form>

    <script src="js/updateProduct.js"></script>
</body>
</html>